{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {% if updated %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endif %}
    </div>
        
    {% if user.is_authenticated %}

        
        {% if isListingInWatchList %}
            <form action="{% url 'removeWatchList' listing.id %}" method="POST" class="mx-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove From Watchlist</button>

            </form>
        {% else %}
            <form action="{% url 'addWatchList' listing.id %}" method="POST" class="mx-3">

                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add to Watchlist</button>

            </form>
        {% endif %}
    {% endif %}

    <h2>{{ listing.title }}</h2>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
    <p>{{ listing.description }}</p>
    <p>Owner: {{ listing.owner }}</p>
    <h6>Current Price £{{ listing.price.bid }}</h6>
    {% if user.is_authenticated %}
        <form action="{% url 'addBid' listing.id %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label for="price">Add Bid</label>
                    <input type="number" min="0" name="newBid" placeholder="Add New Bid.">
                    <button type="submit" name="price" class="btn btn-success">Add</button>
                </div>
        </form>
    {% endif %}
    <p>{{ message }}</p>

   
        <h2>Comment...</h2>
            <br/>
                {% if user.is_authenticated %}
                    
                    <form method="POST" action="{% url 'addComment' listing.id %}" class="max-w-md mx-auto bg-white p-4 rounded shadow">
                        {% csrf_token %}
                            <label for="newComment" class="block text-gray-700 text-sm font-semibold mb-3">Add a Comment</label>
                            <br/>
                            
                            <textarea 
                                name="newComment" 
                                id="newComment" 
                                rows="3"
                                class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"
                                placeholder="Write your comment here..."
                                required
                                
                            ></textarea>
                            <br/>
                            <button 
                                type="submit"
                                class="mt-3 btn btn-success text-white px-4 py-2 rounded hover:bg-blue-700 transition"
                            >
                                Submit Comment
                            </button>
                    </form>
                {% endif %}
        <ul class="list-group"></ul>
            {% for comment in allComments %}
                <li class="list-group-item">{{ comment.message }}</li>
                <br/>
                <p>Posted By:<strong>{{ comment.author }}</strong></p>
            {% endfor %}
       </ul>
{% endblock %}